__pycache__/
/tasks/overrides.yaml
/data
/certificates
/certs
oauth2_cred.json
*~
*.swp
.ToDo
*.tflite
*.bin
*.pb
*.caffemodel
*.uff
*.avi
.idea/
.aws
venv/
slack_token.txt
.env
supervisord.log
.vscode/
